apiVersion: 1

datasources:
  - name: Postgres
    type: postgres
    access: proxy
    isDefault: true
    editable: true
    readOnly: false

    url: db:5432

    user: postgres
    secureJsonData:
      password: postgres

    jsonData:
      database: networkdb
      sslmode: "disable"
      postgresVersion: 1500
      timescaledb: false
